/* You can add global styles to this file, and also import other style files */

:root {
  --border: 70px;
}
body, html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
    background: black;
    background: url('./assets/template/background-s.jpg') center;


    .text-shadow-green {
        text-shadow: -3px -1px 21px rgba(108, 255, 215, 1);
    }

    .personal-font-style {
        font-family: Georgia, serif;
        letter-spacing: 0.4px;
        word-spacing: -0.2px;
        font-weight: 400;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: small-caps;
    }
    .box-shadow-green {
        box-shadow: 0px 0px 22px -2px #37dbd6;
    }

    .d-none {
      display: none;
    }
}

