/* You can add global styles to this file, and also import other style files */

:root {
  --border: 70px;
  --text-shadow-green: -3px -1px 21px rgba(108, 255, 215, 1);
  --box-shadow-green: 0px 0px 22px -2px #37dbd6;
}
body, html {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  overflow: hidden;
  .background {
    background: url('./assets/template/background-p.jpg') center;
    background-size: cover;
  }
  .background-2 {
    background: url('./assets/template/background-s.jpg') center;
    background-size: cover;
  }
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  background-size: cover;



  .text-shadow-green {
      text-shadow: var(--text-shadow-green);
  }

  .personal-font-style {
        font-family: Georgia, serif;
        letter-spacing: 0.4px;
        word-spacing: -0.2px;
        font-weight: 400;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: small-caps;
    }
    .box-shadow-green {
        box-shadow: var(--box-shadow-green);
    }

    .d-none {
      display: none;
    }


}

